body {
    /* display: grid; */
    background-color:black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img {
    height: 250px;
    width: 200px;
    /*justify-self: center;*/
}

#proj-1, #proj-2, #proj-3 {
    height: 50px;
    max-width: 50px;
}

h1 {
    justify-self: center;
    color:gold;
}

ul {
    justify-self: center;
    /* color:black; */
    color:gold;
}

.btn {
    font-weight: bold;
    /* color: rgb(9, 87, 136); */
    color:gold;
}

.nav-link, h3, a, #skills, #education-text, #skills-header, #education-header, #collapse-body {
    /* color: rgb(9, 87, 136); */
    color:gold;
}

/* h3 {
    color: rgb(9, 87, 136);
} */